<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/login/" method="POST">
        <input type="text" name="username" />
        <input type="text" name="pwd" />
        <input type="text" name="check_code" />
        {#/* src为图片的后台地址 */#}
        <img src="/checkcode/" onclick="ChangeCode(this);">

        <input type="submit" />
    </form>
    <script>
        // 点击一次,更改图片内容,
        function ChangeCode(ths){
            console.log(ths.src);
            ths.src = ths.src + '?';
        }
    </script>
</body>
</html>